{
	# use staging ca for testing:
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory

	storage file_system /enc/containers/caddy/data
	persist_config off

	log default {
		output file /enc/containers/caddy/log.json
		# format console
	}
}

# Note: when adding a new site, remember to
# forward 80 and 443 to this server for certs

auth.mizuna.dev {
	reverse_proxy :9000
}

cloud.mizuna.dev {
	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301

	reverse_proxy :11000
}

home.mizuna.dev {
	reverse_proxy :9999
}

ha.mizuna.dev {
	reverse_proxy :8123
}

plex.mizuna.dev {
	reverse_proxy http://localhost:32400
}

recipes.mizuna.dev {
	reverse_proxy /outpost.goauthentik.io/* http://localhost:9000

	forward_auth http://localhost:9000 {
		uri /outpost.goauthentik.io/auth/caddy

		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version

		trusted_proxies private_ranges
	}

	reverse_proxy :8150
}

seq.mizuna.dev {
	reverse_proxy :8152
}

simmer.mizuna.dev {
	reverse_proxy :8151
}

sync.mizuna.dev {
	reverse_proxy /outpost.goauthentik.io/* http://localhost:9000

	forward_auth http://localhost:9000 {
		uri /outpost.goauthentik.io/auth/caddy

		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version

		trusted_proxies private_ranges
	}

	reverse_proxy http://localhost:8384 {
		header_up Host {upstream_hostport}
	}
}

trx.mizuna.dev {
	reverse_proxy /outpost.goauthentik.io/* http://localhost:9000

	forward_auth http://localhost:9000 {
		uri /outpost.goauthentik.io/auth/caddy

		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version

		trusted_proxies private_ranges
	}

	reverse_proxy http://localhost:9091 {
		header_up Host {upstream_hostport}
	}
}
